<% provide(:title, @user.name) %>
<% provide(:search_name, 'Micropost search') %>
<% provide(:path, user_path) %>

<div class="row no-gutters">
  <aside class="col-md-12">
    <div class="user_info">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="user_info_left">
            <%= gravatar_for @user %>　<!-- ユーザー写真 -->
          </div>
        </div>
        <div class="col-md-8">
          <section class="user_info_right">
            <h2><%= @user.name %></h2>　<!-- ユーザー名 -->
            <%= render 'follow_form' if logged_in? %>　<!-- フォローボタン -->
            <%= render 'shared/stats' %>  <!-- 統計 -->
          </section>
        </div>
      </div>
    </div>
  </aside>　　　　　　　　　　　　　　
  <div class="col-md-12">
    <% if @user.microposts.any? %>
     <ol class="microposts">
      <%= render @microposts %>
     </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>