<% @user ||= current_user %>
<ul class="stats">
  <li>
    <span>
      投稿
      <span><%= @user.microposts.count %></span>
      件
    </span>
  </li>
  <li>
    <a href="<%= following_user_path(@user) %>">
      フォロー中
      <span id="following" class="stat"><%= @user.following.count %></span>
      人
    </a>
  </li>
  <li>
    <a href="<%= followers_user_path(@user) %>">
      フォロワー
      <span id="followers" class="stat"><%= @user.followers.count %></span>
      人
    </a>
  </li>
</ul>