<li class="micropost" id="micropost-<%= micropost.id %>">
  <div class="coordination">
    <%= link_to micropost do %>
      <%= image_tag micropost.picture.url if micropost.picture? %>
    <% end %>
  </div>
  <% unless request.path.include?("users") %>
    <div class="profile">
      <div class="profile__top">
        <div class="profile__top--img">
          <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
        </div>
        <div class="profile__top--name">
          <p><%= micropost.user.name %></p>
        </div>
      </div>
      <div class="profile__bottom">
        <div class="datetime">
         <p><i class="far fa-clock"></i> <%= micropost.created_at.to_s(:datetime_jp) %></p>
        </div>
      </div>
    </div>
  <% end %>
</li>