<li class="micropost" id="micropost-<%= micropost.id %>">
  <div class="micropost-img">
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </div>
  <% unless request.path.include?("users") %>
    <div class="micropost-info">
      <div class="micropost-info-top">
        <span class="gravatar">
          <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
        </span>
        <span class="username">
　　　　  <%= link_to micropost.user.name, micropost.user %>
        </span>
      </div>
      <div class="micropost-info-bottom">
        <div class="timestamp">
          <%= time_ago_in_words(micropost.created_at) %> ago.
        </div>
      </div>
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </div>
  <% end %>
</li>