
<div class="row no-gutters">
  <aside class="col-md-12">
    <div class="user_info">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="user_info_left">
            <%= link_to gravatar_for @micropost.user %>　<!-- ユーザー写真 -->
          </div>
        </div>
        <div class="col-md-8">
          <section class="user_info_right">
            <div class="user_info_right__top">
              <h2><%= @micropost.user.name %></h2>　<!-- ユーザー名 -->
              <%= render 'shared/follow_form' if logged_in? %>　<!-- フォローボタン -->
            </div>
            <%= render 'shared/stats' %>  <!-- 統計 -->
          </section>
        </div>
      </div>
    </div>
  </aside>
      <div class="col-md-6">
        <div class="details_main">
          <div class="details_img">
            <p><%= image_tag @micropost.picture.url if @micropost.picture? %></p>
          </div>
          <div class="details_info">
                
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="details_sub">
          <div class="img_content">
            <p><%= @micropost.content %></p>    
          </div>
          <div class="img_content_bottom">
            <div class="datetime">
              <p><i class="far fa-clock"></i> <%= @micropost.created_at.to_s(:datetime_jp) %></p>
            </div>
            <% if current_user?(@micropost.user) %>
              <%= link_to @micropost, method: :delete, data: { confirm: "You sure?" } do %>
                <i class="fas fa-trash-alt delete"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
</div>