

<header class="navbar navbar-fixed-top">
  <div id="appHeader"class="container">
    <div class="crim">
      <%= link_to "SNAP MARKET", root_path, id: "logo" %>
    </div>
    <div class="none_humburger" >
      <% if logged_in? %>
        <div class="search-form">
          <%= render 'shared/search' %>
        </div>
      <% end %>
      <nav class="crim">
        <ul>
          <li><%= link_to "HOME", root_path %></li>
          <% if logged_in? %>
            <li><%= link_to "NEW POST", new_micropost_path %></li>
            <li><%= link_to "USER", users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                ACCOUNT<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to current_user do %>
                    <i class="far fa-user-circle"></i>PROFILE
                  <% end %>
                </li>
                <li>
                  <%= link_to notifications_path(current_user) do %>
                    <i class="far fa-bell"></i> NOTIFICATION
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_user_path(current_user) do %>
                    <i class="fas fa-sliders-h"></i> SETTING
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "LOG OUT", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "SIGN UP", signup_path %></li>
            <li><%= link_to "LOG IN", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <!--<div id="humburger">-->
    <!--  <input id="memu" type="checkbox" />-->
    <!--  <label for="memu" class="open">〇</label>-->
    <!--   render 'shared/header_humburger' -->
    <!--</div>-->
  </div>
</header>